.card {
  font-family: Poppins, Arial, Helvetica, sans-serif;
  position: relative;
}
.card__delete-btn {
  width: 32px;
  height: 32px;
  position: absolute;
  top: 10px;
  right: 10px;
  background-image: url(../images/delete-default.svg);
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  border: none;
}

.card__delete-btn:hover {
  background-image: url(../images/delete-hover.svg);
}

.card__image {
  width: 100%;
  height: 413px;
  object-fit: cover;
  display: block;
  border-radius: 8px;
  margin-bottom: 12px;
}

.card__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card__title {
  margin: 0;
  max-width: 353px;
  min-width: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  font-size: 20px;
  line-height: 1.2;
  font-weight: 500;
}

.card__like-btn {
  background-image: url(../images/like-icon.svg);
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 23px;
  height: 20px;
  border: none;
  opacity: 0.4;
  padding: 0;
  transition: opacity 0.5s;
  cursor: pointer;
}

.card__like-btn:hover {
  opacity: 1;
}

.card__like-btn_active {
  background-image: url(../images/liked.svg);
  opacity: 1;
}

.card__like-btn_active:hover {
  opacity: 0.4;
}

@media screen and (max-width: 627px) {
  .card__image {
    height: 288px;
  }

  .card__title {
    max-width: 235px;
    font-size: 16px;
  }
}
