.footer {
  padding: 60px 0;
  display: flex;
  justify-content: center;
}

.footer__copyright {
  margin: 0;
  text-align: center;
  font-family: Poppins, Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0;
  color: #212121b2;
}
