.modal {
  visibility: hidden;
  background: #00000080;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: visibility 0s linear 0.5s, opacity 0.5s linear;
}

.modal_is-opened {
  transition-delay: 0s;
  visibility: visible;
  opacity: 1;
}

.modal__container {
  max-width: 730px;
  width: 100%;
  border-radius: 8px;
  background-color: #ffffff;
  padding: 32px 50px;
  position: relative;
}

.modal__close-btn {
  position: absolute;
  background-image: url(../images/close-icon.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  border: none;
  top: 32px;
  right: 50px;
  width: 40px;
  height: 40px;
  cursor: pointer;
  transition: opacity 0.5s;
}

.modal__close-btn:hover {
  opacity: 40%;
}

.modal__title {
  margin: 0 0 32px;
  font-family: Poppins, Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 32px;
}

.modal__form {
  display: flex;
  flex-direction: column;
}

.modal__label {
  margin: 0 0 32px;
  font-family: Poppins, Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 16px;
}

.modal__input {
  display: block;
  margin: 8px 0 0;
  width: 100%;
  font-family: Poppins, Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 20px;
  border-radius: 8px;
  max-height: 52px;
  border: 1px solid #21212166;
  padding: 16px 12px;
  border-width: 1px;
  box-sizing: border-box;
}

.modal__input::placeholder {
  color: #2121214d;
}

.modal__submit-btn {
  max-width: 156px;
  max-height: 52px;
  padding-top: 18px;
  padding-right: 32px;
  padding-bottom: 18px;
  padding-left: 32px;
  border-radius: 8px;
  background-color: #212121;
  color: #fcf5e5;
  font-family: Poppins, Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 16px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal__submit-btn:hover {
  background-color: #212121cc;
  cursor: pointer;
}

@media screen and (max-width: 627px) {
  .modal__container {
    padding: 22px 12px 12px;
  }
  .modal__title {
    font-size: 20px;
  }

  .modal__close-btn {
    top: 12px;
    right: 12px;
  }

  .modal__input {
    font-size: 16px;
  }

  .modal__submit-btn {
    width: 100%;
    max-width: none;
  }
}
